node_modules/
.expo/
.git
.env
.env*
!.env.example
*.log
.idea
.vscode
.cursor

android/.gradle
android/.kotlin
android/app/build
android/build
android/.cxx
android/app/.cxx
android/local.properties
android/app/debug.keystore

ios/
dist/
web-build/

*.log
*.tmp
*.temp
.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*

backend/
frontend/
sql/
/api/
shared/
scripts/
